div.MainImg > img
{
    top: -15vw;
    position: relative;
    width: 100%;
    z-index: -10;
}
body
{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
ul.Menu
{
    top: -10.3vw;
    list-style-type: none;
    position: relative;
    z-index: 10;
}
ul.Menu > li
{
    display: inline-block;
    margin: 0.3vw;
}
ul.Menu li> a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
}
nav.Top
{
    top: -3.7vw;
    width: 100%;
    background-color: rgba(78, 226, 255,.4);
    position: relative;
    z-index: 0;
}
nav.Top > p
{
    color: white;
    font-size: 3.7vw;
    text-align: center;
}
nav.Rooms
{
    top: -17vw;
    position: relative;
    background-color: #00AAC6;
    width: 100%;
    text-align: center;
}
nav.Rooms > p
{
    font-size: 1.8vw;
    color: white;
    padding: 1.2vw;
}
div.Pokoje > img
{
    border: #D6D6D6 solid 0.2vw;
    display: inline-block;
    margin: 0.8vw;
    width: 25%;
    height: 25%;
}
div.Pokoje
{
    text-align: center;
    position: relative;
    top: -18vw;
}
div.ButtonClass
{
    text-align: center;
}
div.ButtonClass > button
{
    top: -17.5vw;
    background-color: white;
    border: black solid 0.15vw;
    color: black;
    padding: 0.5vw;
    font-size: 1.6vw;
    position: relative;
    border-radius: 0.7vw;
}
button.Button:hover
{
    border: #00AAC6 solid 0.15vw;
    color: #00AAC6;
    cursor: pointer;
}
nav.Bottom
{
    width: 100%;
    background-color: #00AAC6;
    position: relative;
}
nav.Bottom > p
{
    font-size: 1vw;
    color: white;
    margin: 0;
    padding: 0.1vw;
    text-align: center;
}
div.Restaurace
{
    text-align: center;
    position: relative;
    display: inline-block;
    top: -13vw;
}
div.Restaurace > img
{
    margin: 0.8vw;
    width: 25%;
    height: 25%;
    border: #D6D6D6 solid 0.2vw;
}
div.inner
{
    display: flex;
    position: relative;
    top: -15vw;
}
article.Rezervace
{
    position: relative;
    width: 25%;
    height: 10%;
    margin: 1vw;
    background-color: rgba(78, 226, 255,.7);
    padding-bottom: 1.8vw;
    left: 22vw;
}
article.Rezervace > h2
{
    font-size: 3vw;
    text-align: center;
    color: black;
    font-size: 2vw;
    padding: 1vw;
    margin-top: 0;
    margin-bottom: 1.3vw;
}
article.Rezervace > a
{
    color: white;
    font-size: 1vw;
    padding: 1vw;
    text-decoration: none;
    margin-left: 10%;
    background-color: #00AAC6;
}
article.Rezervace > a:hover
{
    background-color: black;
}
div.Open-Open > h2
{
    font-size: 2vw;
    margin-bottom: 0.8vw;
}
div.Open-Open > span
{
    font-size: 1.5vw;
}
.Open
{
    position: relative;
    left: 27vw;
    top: -1vw;
}
.Nabidka1
{
    background-color: #00AAC6;
    color: white;
    margin: auto;
    padding: auto;
    text-align: center;
    border-radius: 0.4vw;
}
.Nabidka1 > h2
{
    padding: 1.2vw;
    font-size: 1.6vw;
    color: white;
}
div.Nabidka
{
    display: flex;
    background-color: white;
    position: relative;
    top: -12vw;
}